/* 1 column layout: 0 -> 500 Phone Version */
body {
    /* background-color: #FAF0E6; Linen */
    font-size: 1.2em;
    font-family: Verdana;
    margin: 0;
    padding: 0;
    /* use these to remove any border and pull content to edge of screen
    */
}

.gridcontainer {
	width: 100%;
    margin: 0;
    padding: 0;
}

.gridwrapper {
	overflow: hidden;
	 /* background-color: #CD853F; Peru */
}

.box
{
    width: 100%;
    float: none; 

    min-height: 200px;
    background-color: Gray;
    padding-top: 10px;
    padding-bottom: 10px;
   
    
    /* 
    */
}
.box20
{
    width: 100%;
    float: none; 

    min-height: 50px;
    background-color: #F5DEB3;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box30
{
    width: 100%;
    float: none; 

    min-height: 50px;
    background-color: #F5DEB3;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box50
{
    width: 100%;
    float: none; 

    min-height: 50px;
    background-color: #F5DEB3;
    padding-top: 10px;
    padding-bottom: 10px;
}
.boxFooter
{
    width: 100%;
    float: none; 

    min-height: 50px;
    background-color: #F5DEB3;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content
{
    width: 92%;
    padding-left: 2%; 
    padding-right: 2%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-left: 2%; 
    margin-right: 2%; 
    border: 1px solid #000000;
    background-color: #FFFFCC;
}

/* 2 column layout 500-1000 */
@media (min-width: 500px) and (max-width: 1000px)
{
    body 
    {
        background-color: #D8BFD8; /* Thistle */
        font-size: 1.1em;
    }
    .box
    {
        float: left;
        width: 50%;
    }
.box20
{
    width: 35%;
    float: left; 
}
.box30
{
    width: 65%;
    float: left; 
}
.box50
{
    width: 100%;
    float: left; 
}

}
/* 3 column layout 1000 -> */

@media (min-width: 1000px) and (max-width: 1400px) 
{
    body 
    {
        background-color: #F0E68C; /* Khaki */
        font-size: 1.0em;
    }
    .box
    {
        float: left;
        width: 33.33%;
    }

.box20
{
    width: 20%;
    float: left; 
}
.box30
{
    width: 30%;
    float: left; 
}
.box50
{
    width: 50%;
    float: left; 
}

}

/* 4 column layout 1400 -> */
@media (min-width: 1400px)
{
    body 
    {
        background-color: #8FBC8F; /* DarkSeaGreen */
        font-size: .9em;
    }
    .box
    {
        float: left;
        width: 25%;
    }

.box20
{
    width: 20%;
    float: left; 
}
.box30
{
    width: 30%;
    float: left; 
}
.box50
{
    width: 50%;
    float: left; 
}

}
