<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <handlers>
    </handlers>
      <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
    <!-- Classic vs Integrated (400 conn) This muted error https://stackoverflow.com/questions/4209999/an-asp-net-setting-has-been-detected-that-does-not-apply-in-integrated-managed-p 
    <validation validateIntegratedModeConfiguration="false" />
    -->
    <defaultDocument>
          <files>
                <remove value="default.aspx" />
              <remove value="iisstart.htm" />
              <remove value="index.html" />
              <remove value="index.htm" />
              <remove value="Default.asp" />
              <remove value="Default.htm" />
                <add value="/private/menu.aspx" />
          </files>
      </defaultDocument>
  </system.webServer>
  <appSettings>
  </appSettings>

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!-- <add name="LocalSqlServer" connectionString="Server=OMA-SQLPROD-01;uid=CstAxsJune2019;pwd=Rainier.27;database=Customer;" providerName="System.Data.SqlClient" /> -->
    <add name="LocalSqlServer" connectionString="Server=OMA-SQLPROD-01;Database=CustomerLegacy_TEST;uid=CustomerAccess_Sep2021;pwd=Everglades.8;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="CustomerLiveSqlConnection" connectionString="Server=OMA-SQLPROD-01;Database=CustomerLegacy_LIVE;uid=CustomerAccess_Sep2021;pwd=Everglades.8;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="As400Conn" connectionString="Dsn=ADV320;uid=SSGODBC;pwd=SSGODBC;" providerName="System.Data.Odbc" />
    <add name="NetSuiteConn64" connectionString="Dsn=NetSuite64;uid=isabel.labrador@scantron.com;pwd=Doming0sWK;" providerName="System.Data.Odbc" />
    <add name="NetSuiteConn64Direct" connectionString="DRIVER=NetSuite Drivers 64bit;Host=8089181-SB1.connect.api.netsuite.com;Port=1708;Encrypted=1;AllowSinglePacketLogout=1;Truststore=system;SDSN=NetSuite2.com;
UID=isabel.labrador@scantron.com;PWD=Doming0sWK;CustomProperties=AccountID=8089181_SB1;RoleID=1227;" providerName="System.Data.Odbc" />
  </connectionStrings>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>

  </runtime>
  <!--  START SYSTEM WEB ====================================== -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--  CHARTING HTTP HANDLERS  -->
    <!--  ProfileCommon: Personalization Properties  -->
    <profile>
      <properties>
        <add name="LoginEmpNum" />
        <add name="LoginEmpPid" />
      </properties>
    </profile>
    <!-- 
      MEMBERSHIP
      DEFAULT CHANGES
      MaxInvalidPasswordAttempts=10 (was 5)
      minRequiredNonAlphanumericCharacters=1 (was 1)
      enablePasswordRetrieval=false (was true with Question and answer)
      -->
    <membership>
      <providers>
        <clear />
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" 
             type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="LocalSqlServer" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             applicationName="/" 
             requiresUniqueEmail="false" 
             passwordFormat="Hashed" 
             maxInvalidPasswordAttempts="5" 
             minRequiredPasswordLength="7" 
             minRequiredNonalphanumericCharacters="0" 
             passwordAttemptWindow="10" />
      </providers>
    </membership>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true" />
    
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    <customErrors mode="Off"/>        
        -->
    <!--  SHOW ASP.NET ERROR DATA on WWW  -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/public/error/Default.aspx">
      <error statusCode="404" redirect="~/public/error/404_PageNotFound.aspx" />
    </customErrors>
    
    <!--  Default masterpage and theme  -->
    <!--  
        -->
    <pages masterPageFile="~/Responsive.master" theme="Responsive" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>

    <!--  HTTP RUNTIME: Allows script timeout control: default is 90... maxRequestLength def 4096/8192/16,384/32768/65536/131072/262144   -->
    <httpRuntime enable="true" executionTimeout="90" maxRequestLength="200000000" />

    <sessionState mode="InProc" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
            cookieless="UseUri"   put cookie data in URL (but it won't expire if left open)
            slidingExpiration="false" is default
            loginUrl="~/Login.aspx" 
            <forms name=".HTSLoginCookie" timeout="1" slidingExpiration="true" defaultUrl="Default.aspx" loginUrl="Login.aspx" />
  -->
    <httpCookies requireSSL="true"/>
    
    <authentication mode="Forms">
      <forms name=".OmahaCustLoginCookie" timeout="240" slidingExpiration="true" requireSSL="true" loginUrl="~/Login.aspx" defaultUrl="~/private/Menu.aspx" />
    </authentication>
    <!--
            The <sessionState> section allows you to have 
            Global.asax trigger sesssion events
            Here I am trying to trigger Session_end to clear cookie when they close the browser 
            (or perhaps migrate away from the site).
    -->
    <authorization>
      <deny users="?" />
    </authorization>
    <!--   -->
    <urlMappings>
      <add url="~/" mappedUrl="~/private/menu.aspx" />
    </urlMappings>

  </system.web>
  <!--  END SYSTEM WEB ====================================== -->
  <!-- PUBLIC PAGES  -->
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Registration.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="TemporaryPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Code/MyPage.cs">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- PUBLIC FOLDERS  -->
  <location path="public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="media">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="Customer2021MenuSoap" maxReceivedMessageSize="20000000" />
        <binding name="Customer2021MenuSoap1" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://oma-dev-int:270/Customer2021.asmx" binding="basicHttpBinding" bindingConfiguration="Customer2021MenuSoap" contract="Customer2021_DEV.Customer2021MenuSoap" name="Customer2021MenuSoap" />
      <endpoint address="http://oma-empp-w01:70/Customer2021.asmx" binding="basicHttpBinding" bindingConfiguration="Customer2021MenuSoap1" contract="Customer2021_LIVE.Customer2021MenuSoap" name="Customer2021MenuSoap1" />
    </client>
  </system.serviceModel>
</configuration>