<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="As400Conn" connectionString="Dsn=ADV320;uid=SSGODBC;pwd=SSGODBC;" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <!--  -->
        <!--   -->
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <!-- -->
    <httpRuntime requestValidationType="CustomRequestValidation"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KeyBankMenuSoap1"/>
        <binding name="KeyBankMenuSoap"/>
        <binding name="EmployeeMenuSoap2"/>
        <binding name="EmployeeMenuSoap3"/>
        <binding name="KeyBankMenuSoap2"/>
        <binding name="KeyBankMenuSoap3"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.ourhts.com:270/KeyBank.asmx" binding="basicHttpBinding" bindingConfiguration="KeyBankMenuSoap" contract="KeyBank_DEV_orig.KeyBankMenuSoap" name="KeyBankMenuSoap"/>
      <endpoint address="http://oma-dev-int:270/Emp.asmx" binding="basicHttpBinding" bindingConfiguration="EmployeeMenuSoap2" contract="Emp_DEV.EmployeeMenuSoap" name="EmployeeMenuSoap2"/>
      <endpoint address="http://www.ourhts.com:70/Emp.asmx" binding="basicHttpBinding" bindingConfiguration="EmployeeMenuSoap3" contract="Emp_LIVE.EmployeeMenuSoap" name="EmployeeMenuSoap3"/>
      <endpoint address="http://oma-dev-int:270/KeyBank.asmx" binding="basicHttpBinding" bindingConfiguration="KeyBankMenuSoap2" contract="KeyBank_DEV.KeyBankMenuSoap" name="KeyBankMenuSoap2"/>
      <endpoint address="http://www.ourhts.com:70/KeyBank.asmx" binding="basicHttpBinding" bindingConfiguration="KeyBankMenuSoap1" contract="KeyBank_LIVE_orig.KeyBankMenuSoap" name="KeyBankMenuSoap1"/>
      <endpoint address="http://www.ourhts.com:70/KeyBank.asmx" binding="basicHttpBinding" bindingConfiguration="KeyBankMenuSoap3" contract="KeyBank_LIVE.KeyBankMenuSoap" name="KeyBankMenuSoap3"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="default.aspx"/>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
        <add value="Main.asmx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>