<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\WINDOWS\Temp\;" />
  </appSettings>
  <!-- 
  // Original Strings July 2nd
    <add name="LocalSqlServer" connectionString="Server=10.41.30.9\SQLExpress;uid=Access2013;pwd=SanDiego.11;database=Employee;" providerName="System.Data.SqlClient"/>
    <add name="EmployeeConnectionString" connectionString="Data Source=10.41.30.9\SqlExpress;Initial Catalog=Employee;User ID=DmzAccess;Password=SanDiego.11" providerName="System.Data.SqlClient"/>
        <add name="EmployeeConnectionString" connectionString="Server=OMA-SQLPROD-01;uid=EmpAxsJune2019;pwd=Yellowstone.8;database=Employee;" providerName="System.Data.SqlClient"/>
-->
  <!-- 
  // Broken Strings that did not work July 5th
      <add name="LocalSqlServer" connectionString="Server=OMA-SQLPROD-01;uid=EmpAxsJune2019;pwd=Yellowstone.8;database=Employee;" providerName="System.Data.SqlClient"/>
    <add name="As400Conn" connectionString="Dsn=ADV320;uid=SSGODBC;pwd=SSGODBC;" providerName="System.Data.Odbc"/>

-->
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Server=OMA-SQLPROD-01;uid=EmpAxsJune2019;pwd=Yellowstone.8;database=Employee;" providerName="System.Data.SqlClient" />
    <add name="As400Conn" connectionString="Dsn=ADV320;uid=SSGODBC;pwd=SSGODBC;" providerName="System.Data.Odbc" />
    <add name="DisasterConn" connectionString="Dsn=DISASTER;uid=SSGODBC;pwd=SSGODBC;" providerName="System.Data.Odbc" />
    <add name="PrintFleetConn" connectionString="Data Source=HTSPRINTFLEET; Initial Catalog=pfo; uid=Meter_Axs; pwd=Yosemite.2;" />
    <add name="PrintFleetConn2" connectionString="Data Source=192.168.100.4; Initial Catalog=pfo; uid=Meter_Axs; pwd=Yosemite.2;" />
  </connectionStrings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--  START SYSTEM WEB ====================================== -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--  CHARTING HTTP HANDLERS  -->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <!--  OTHER SITE MAPS  -->
    <siteMap enabled="true">
      <providers>
        <add name="SitemapAnon" type="System.Web.XmlSiteMapProvider" siteMapFile="WebAnon.sitemap" />
        <add name="SitemapLogged" type="System.Web.XmlSiteMapProvider" siteMapFile="WebLogged.sitemap" />
      </providers>
    </siteMap>
    <!--  ProfileCommon: Personalization Properties  -->
    <profile>
      <properties>
        <add name="LoginEmpNum" />
        <add name="LoginEmpPid" />
      </properties>
    </profile>
    <!-- 
      MEMBERSHIP
      DEFAULT CHANGES
      MaxInvalidPasswordAttempts=10 (was 5)
      minRequiredNonAlphanumericCharacters=1 (was 1)
      enablePasswordRetrieval=false (was true with Question and answer)
      -->
    <membership>
      <providers>
        <clear />
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true" />
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    <customErrors mode="Off"/>        
        -->
    <!--  SHOW ASP.NET ERROR DATA on WWW  -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/public/error/Default.aspx">
      <error statusCode="404" redirect="~/public/error/404_PageNotFound.aspx" />
    </customErrors>
    <!--  Default masterpage and theme  -->
    <pages masterPageFile="~/MasterParent.master" theme="White" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--  HTTP RUNTIME: Allows script timeout control: default is 90... maxRequestLength def 4096/8192/16,384/32768/65536/131072/262144   -->
    <httpRuntime enable="true" executionTimeout="90" maxRequestLength="200000000" />
    <sessionState mode="InProc" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
            cookieless="UseUri"   put cookie data in URL (but it won't expire if left open)
            slidingExpiration="false" is default
            loginUrl="~/Login.aspx" 
            <forms name=".HTSLoginCookie" timeout="1" slidingExpiration="true" defaultUrl="Default.aspx" loginUrl="Login.aspx" />
  -->
    <authentication mode="Forms">
      <forms name=".HTSEmpLoginCookie" timeout="240" slidingExpiration="true" loginUrl="Login.aspx" />
    </authentication>
    <!--
            The <sessionState> section allows you to have 
            Global.asax trigger sesssion events
            Here I am trying to trigger Session_end to clear cookie when they close the browser 
            (or perhaps migrate away from the site).
    -->
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <!--  END SYSTEM WEB ====================================== -->
  <!-- PUBLIC PAGES  -->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Code/MyPage.cs">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- PUBLIC FOLDERS  -->
  <location path="public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="media">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="dev">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmployeeMenuSoap" />
        <binding name="ApiMenuSoap" />
        <binding name="ApiMenuSoap1" />
        <binding name="EmployeeMenuSoap1" />
        <binding name="AndroidMenuSoap" />
        <binding name="AndroidMenuSoap1" />
        <binding name="ScMobileMenuSoap" />
        <binding name="ApiMenuSoap2" />
        <binding name="EmployeeMenuSoap2" />
        <binding name="ScMobileMenuSoap2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://oma-dev-int:270/Emp.asmx" binding="basicHttpBinding" bindingConfiguration="EmployeeMenuSoap" contract="Emp_DEV.EmployeeMenuSoap" name="EmployeeMenuSoap" />
      <endpoint address="http://oma-dev-int:270/Api.asmx" binding="basicHttpBinding" bindingConfiguration="ApiMenuSoap" contract="Api_DEV.ApiMenuSoap" name="ApiMenuSoap" />
      <endpoint address="http://www.ourhts.com:70/Api.asmx" binding="basicHttpBinding" bindingConfiguration="ApiMenuSoap1" contract="Api_LIVE.ApiMenuSoap" name="ApiMenuSoap1" />
      <endpoint address="http://www.ourhts.com:70/Emp.asmx" binding="basicHttpBinding" bindingConfiguration="EmployeeMenuSoap1" contract="Emp_LIVE.EmployeeMenuSoap" name="EmployeeMenuSoap1" />
      <endpoint address="http://oma-dev-int:270/Android.asmx" binding="basicHttpBinding" bindingConfiguration="AndroidMenuSoap" contract="Android_DEV.AndroidMenuSoap" name="AndroidMenuSoap" />
      <endpoint address="http://www.ourhts.com:70/Android.asmx" binding="basicHttpBinding" bindingConfiguration="AndroidMenuSoap1" contract="Android_LIVE.AndroidMenuSoap" name="AndroidMenuSoap1" />
      <endpoint address="http://oma-dev-int:270/ScMobile.asmx" binding="basicHttpBinding" bindingConfiguration="ScMobileMenuSoap" contract="ScMobile_DEV.ScMobileMenuSoap" name="ScMobileMenuSoap" />
      <endpoint address="http://oma-empp-w01:70/Api.asmx" binding="basicHttpBinding" bindingConfiguration="ApiMenuSoap2" contract="Api_LIVE.ApiMenuSoap" name="ApiMenuSoap2" />
      <endpoint address="http://oma-empp-w01:70/Emp.asmx" binding="basicHttpBinding" bindingConfiguration="EmployeeMenuSoap2" contract="Emp_LIVE.EmployeeMenuSoap" name="EmployeeMenuSoap2" />
      <endpoint address="http://oma-empp-w01:70/ScMobile.asmx" binding="basicHttpBinding" bindingConfiguration="ScMobileMenuSoap2" contract="ScMobile_LIVE.ScMobileMenuSoap" name="ScMobileMenuSoap2" />
    </client>
  </system.serviceModel>
</configuration>