<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
    c:\TempImageFiles
-->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\WINDOWS\Temp\;" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  </appSettings>
<!-- 
    <add name="LocalSqlServer" connectionString="Server=10.41.30.9\SQLExpress;uid=Access2013;pwd=SanDiego.11;database=Customer;" providerName="System.Data.SqlClient" />
    <add name="Customer" connectionString="Data Source=2003Main\SqlExpress;Initial Catalog=Customer;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Employee" connectionString="Data Source=10.41.30.9\SqlExpress;Initial Catalog=Employee;User ID=Access2013;Password=SanDiego.11" providerName="System.Data.SqlClient" />
    <add name="localCustConn" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LocalCust.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
-->
  <!-- 
  // July 5th attempt that did not work
      <add name="LocalSqlServer" connectionString="Server=OMA-SQLPROD-01;uid=CstAxsJune2019;pwd=Rainier.27;database=Customer;" providerName="System.Data.SqlClient"/>
    <add name="Customer" connectionString="Server=OMA-SQLPROD-01;uid=CstAxsJune2019;pwd=Rainier.27;database=Customer;" providerName="System.Data.SqlClient"/>
    <add name="Employee" connectionString="Server=OMA-SQLPROD-01;uid=EmpAxsJune2019;pwd=Yellowstone.8;database=Employee;" providerName="System.Data.SqlClient"/>

-->

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Server=OMA-SQLPROD-01;uid=CstAxsJune2019;pwd=Rainier.27;database=Customer;" providerName="System.Data.SqlClient"/>
    <add name="Customer" connectionString="Server=OMA-SQLPROD-01;uid=CstAxsJune2019;pwd=Rainier.27;database=Customer;" providerName="System.Data.SqlClient"/>
    <add name="Employee" connectionString="Server=OMA-SQLPROD-01;uid=EmpAxsJune2019;pwd=Yellowstone.8;database=Employee;" providerName="System.Data.SqlClient"/>
    <add name="As400Conn" connectionString="Dsn=ADV320;uid=SSGODBC;pwd=SSGODBC;" providerName="System.Data.Odbc"/>
    <add name="NetSuiteConn32" connectionString="Dsn=NetSuite32;uid=Isabel.Labrador@scantron.com;pwd=Scantron123;" providerName="System.Data.Odbc" />
    <add name="NetSuiteConn64" connectionString="Dsn=NetSuite64;uid=Isabel.Labrador@scantron.com;pwd=Scantron123;" providerName="System.Data.Odbc" />
    
  </connectionStrings>
  <!--  START SYSTEM WEB ====================================== -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>

    <httpModules>
      <add name="PdfRedirectModule" type="PdfRedirectModule" />
    </httpModules>

  -->
  <system.web>
    <!--  httpModules  -->
    <!--  CHARTING HTTP HANDLERS 
          <add path="*.pdf" verb="*" type="PdfRouteHandler"  />
    -->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <!--  OTHER SITE MAPS  -->
    <siteMap enabled="true">
      <providers>
        <add name="SitemapAnon" type="System.Web.XmlSiteMapProvider" siteMapFile="WebAnon.sitemap" />
        <add name="SitemapLogged" type="System.Web.XmlSiteMapProvider" siteMapFile="WebLogged.sitemap" />
        <add name="SitemapFooter" type="System.Web.XmlSiteMapProvider" siteMapFile="WebFooter.sitemap" />
        <add name="SitemapStatic" type="System.Web.XmlSiteMapProvider" siteMapFile="WebStatic.sitemap" />
        <add name="SitemapAdmin" type="System.Web.XmlSiteMapProvider" siteMapFile="WebAdmin.sitemap" />
        <add name="SitemapEditor" type="System.Web.XmlSiteMapProvider" siteMapFile="WebEditor.sitemap" />
        <add name="SitemapEditorCust" type="System.Web.XmlSiteMapProvider" siteMapFile="WebEditorCust.sitemap" />
      </providers>
    </siteMap>
    <!--  ProfileCommon: Personalization Properties  -->
    <profile>
      <properties>
        <add name="LoginCs1" />
        <add name="LoginType" />
      </properties>
    </profile>
    <!-- 
      MEMBERSHIP
      DEFAULT CHANGES
      MaxInvalidPasswordAttempts=10 (was 5)
      minRequiredNonAlphanumericCharacters=1 (was 1)
      enablePasswordRetrieval=false (was true with Question and answer)
      -->
    <membership>
      <providers>
        <clear />
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="9" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="15" />
      </providers>
    </membership>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true" />
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
<customErrors mode="Off"/>
-->
    <!--  ERROR HANDLING  -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/public/error/Default.aspx">
      <error statusCode="403" redirect="~/public/error/403_NotAuthorized.aspx" />
      <error statusCode="404" redirect="~/public/error/404_PageNotFound.aspx" />
    </customErrors>
    <!--  MASTERPAGE AND THEME  -->
    <pages masterPageFile="~/Scantron_HeaderFooter.master" theme="Scantron" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
            cookieless="UseUri"   put cookie data in URL (but it won't expire if left open)
            slidingExpiration="false" is default
            loginUrl="~/Login.aspx" 
            <forms name=".STSLoginCookie" timeout="1" slidingExpiration="true" defaultUrl="Default.aspx" loginUrl="https://174.71.44.241:443/Login.aspx" />
            TIMEOUT: 30 (use 240: 4 hours for testing) 
            <forms name=".STSLoginCookie" timeout="180" slidingExpiration="true" loginUrl="~/Login.aspx" defaultUrl="~/private/shared/Menu.aspx" />
            <forms name=".STSLoginCookie2" timeout="180" slidingExpiration="true" loginUrl="~/Login.aspx" />
  -->
    <authentication mode="Forms">
    <forms name=".STSLoginCookie" timeout="180" slidingExpiration="true" loginUrl="~/Login.aspx" defaultUrl="~/private/shared/Menu.aspx" />
    </authentication>
    <!--
            The <sessionState> section allows you to have 
            Global.asax trigger session events
            Here I am trying to trigger Session_end to clear cookie when they close the browser 
            (or perhaps migrate away from the site).
    -->
    <sessionState mode="InProc" timeout="60" />
    <!--
            This allows you to increase the size of objects to access (increase with care!) 
            <httpRuntime maxRequestLength="32768" /> 2x 65536, 4x 131072, 8x 262144
            (From web blog on timeouts... Remember there are two timeouts "Request" and "Session". you need to increase "Request" timeout)
        
    -->
    <httpRuntime maxRequestLength="262144" />
    <authorization>
      <deny users="?" />
    </authorization>
    <urlMappings>
      <add url="~/Myths-mayhem-webinar" mappedUrl="~/public/marketing/ITSecurityMyths-Mayhem/welcome.aspx" />
      <add url="~/ManagedFirewall" mappedUrl="~/media/scantron/pdf/arc/HTS_Managed_Firewall_Service.pdf" />
      <add url="~/clippercustomer" mappedUrl="~/public/marketing/clipper/customer.aspx" />
      <add url="~/clipperoffer" mappedUrl="~/public/marketing/clipper/offer.aspx" />
      <add url="~/formax" mappedUrl="~/public/marketing/formax/welcome.aspx" />
      <add url="~/valassis" mappedUrl="~/public/marketing/valassis/welcome.aspx" />
      <add url="~/tribute" mappedUrl="~/public/marketing/tribute/welcome.aspx" />
      <add url="~/spruce" mappedUrl="~/public/marketing/spruce/welcome.aspx" />
      <add url="~/allmeds" mappedUrl="~/public/marketing/allmeds/welcome.aspx" />
      <add url="~/southernhills" mappedUrl="~/public/marketing/southernhills/welcome.aspx" />
      <add url="~/southernhills_dg" mappedUrl="~/public/marketing/southernhills_dg/welcome.aspx" />
      <add url="~/southernhills_nogate" mappedUrl="~/public/marketing/southernhills_nogate/welcome.aspx" />
      <add url="~/winbacklp" mappedUrl="~/public/marketing/WRKSystems/welcome.aspx" />
      <add url="~/print-management-strategy" mappedUrl="~/public/marketing/MPStrategy/welcome.aspx" />
      <add url="~/upgrade-outreach" mappedUrl="~/public/marketing/windowsupgrade/welcome.aspx" />
      <add url="~/upgrade-outreach-webinar" mappedUrl="~/public/marketing/windowsAssessment/welcome.aspx" />
      <add url="~/MPS-SMB-html" mappedUrl="~/public/marketing/MpsSmb/welcome.aspx" />
      <add url="~/win10" mappedUrl="~/public/marketing/win10/welcome.aspx" />
      <add url="~/MPS-SMB" mappedUrl="~/public/marketing/MPS-SMB/welcome.aspx" /> 
      <add url="~/MPS-webinar" mappedUrl="~/public/marketing/MPS-SMBWebinar/welcome.aspx" /> 
      <add url="~/affianceSUITE-webinars" mappedUrl="~/public/marketing/affianceSUITEWebinar/welcome.aspx" />
      <add url="~/affianceSUITE-FI-webinar" mappedUrl="~/public/marketing/affianceSUITEFIWebinar/welcome.aspx" /> 
     <add url="~/win10-migration" mappedUrl="~/public/marketing/win10Migration/welcome.aspx" />
      <add url="~/demo" mappedUrl="~/public/demo.aspx" />
  </urlMappings>
  </system.web>
  <!--  END SYSTEM WEB ====================================== -->
  <!-- PUBLIC PAGES  -->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Code/MyPage.cs">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="public/Demo.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>  <location path="Registration.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ErrorPage.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- PUBLIC FOLDERS  -->
  <location path="public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="dev">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Editor" />
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="media">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- PRIVATE ROLE PAGES  -->
  <location path="private/_admin">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="private/_admin/PrintFiles.aspx">
    <system.web>
      <authorization>
        <allow roles="Webmaster" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="private/_editor">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Editor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="private/custAdmin">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Editor" />
        <allow roles="EditorCustomer" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="private/mps">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <allow roles="Editor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
      <add name="PdfRouteHandler" path="*.pdf" verb="*"  modules="PdfRouteHandler, PdfRedirectModule"  />
    -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="EmployeeMenuSoap" maxReceivedMessageSize="20000000" />
        <binding name="EmployeeMenuSoap1" maxReceivedMessageSize="20000000" />
        <binding name="ManagedPrintMenuSoap" maxReceivedMessageSize="20000000" />
        <binding name="ManagedPrintMenuSoap1" maxReceivedMessageSize="20000000" />
        <binding name="SelfServiceMenuSoap" maxReceivedMessageSize="20000000" />
        <binding name="SelfServiceMenuSoap1" maxReceivedMessageSize="20000000" />
        <binding name="CustomerMenuSoap1" maxReceivedMessageSize="20000000" />
        <binding name="CustomerMenuSoap2" maxReceivedMessageSize="20000000" />
        <binding name="EmployeeMenuSoap2" maxReceivedMessageSize="20000000" />
        <binding name="ManagedPrintMenuSoap2" maxReceivedMessageSize="20000000" />
        <binding name="SelfServiceMenuSoap2" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://oma-dev-int:270/Emp.asmx" binding="basicHttpBinding"
        bindingConfiguration="EmployeeMenuSoap" contract="Employee_DEV.EmployeeMenuSoap"
        name="EmployeeMenuSoap" />
      <endpoint address="http://oma-dev-int:270/ManagedPrint.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManagedPrintMenuSoap"
        contract="ManagedPrint_DEV.ManagedPrintMenuSoap" name="ManagedPrintMenuSoap" />
      <endpoint address="http://oma-dev-int:270/SelfService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SelfServiceMenuSoap" contract="SelfService_DEV.SelfServiceMenuSoap"
        name="SelfServiceMenuSoap" />
      <endpoint address="http://oma-empp-w01:70/Emp.asmx" binding="basicHttpBinding"
        bindingConfiguration="EmployeeMenuSoap2" contract="Employee_LIVE.EmployeeMenuSoap"
        name="EmployeeMenuSoap1" />
      <endpoint address="http://oma-empp-w01:70/ManagedPrint.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManagedPrintMenuSoap2"
        contract="ManagedPrint_LIVE.ManagedPrintMenuSoap" name="ManagedPrintMenuSoap1" />
      <endpoint address="http://oma-empp-w01:70/SelfService.asmx" binding="basicHttpBinding"
        bindingConfiguration="SelfServiceMenuSoap2" contract="SelfService_LIVE.SelfServiceMenuSoap"
        name="SelfServiceMenuSoap1" />
      <endpoint address="http://oma-dev-int:270/Cust.asmx" binding="basicHttpBinding"
        bindingConfiguration="CustomerMenuSoap1" contract="Customer_DEV.CustomerMenuSoap"
        name="CustomerMenuSoap1" />
      <endpoint address="http://oma-empp-w01:70/Cust.asmx" binding="basicHttpBinding"
        bindingConfiguration="CustomerMenuSoap2" contract="Customer_LIVE.CustomerMenuSoap"
        name="CustomerMenuSoap2" />
    </client>
  </system.serviceModel>
</configuration>